/* universal selector. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* background color of the body of the page */
body {
    background-color: #ffffff;

}

/* Header, includes styling for navigation bar. */
.header {
    background-color: #1a455b;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
}

/*Consolidation: I used a child combinator for the unordered navbar list and items.*/
.header div ul>li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

/* This styles the Horiseon <h1> level text. */
.header h1 {
    display: inline-block;
    font-size: 50px;
    color: #ffffff;
}

/* This styles the header. */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    color: #ffffff
}

/* This block styles the hyperlinks in the navigation bar. */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Large image with higher contrast filter applied. */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
    filter: contrast(1.10);
}

/* This styles the box for the "content" class.*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Refactored classes CSS which are contained in the "content" class. */
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #1a455b;
    color: #ffffff;
    font-size: 18px;
}

/* Refactored <h2> text styling */
.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Refactored images. */
.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img,
.float-left,
.float-right {
    max-height: 200px;
    filter: contrast(1.75);
    float: left;
    margin-right: 25px;
}

/* Styling for the "benefits" class. */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #1a455b;
}

/* Refactored classes styling */
.benefit-lead,
.benefit-brand,
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
    font-size: 18px;
}

/* Refactored <h3> text styling. */
.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Refactored three images in the "benefits" class. */
.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
    filter: contrast(1.75);
}

/* Refactored footer*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
}